/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Capriola', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],.agileits_mail_grid_lft_grid1 ul li a,.agileinfo_services_grid1 h4,.w3agile_footer_copy p a,.agileinfo_social_icons1 li a,ul.w3_address li a, .agileinfo_footer_grid_nav li a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
/*-- banner --*/
.banner{
	/*background:url(../images/banner.jpg) no-repeat 0px 0px;*/
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	/*min-height:800px;*/
	position:relative;
}
.banner1{
	background:url(../images/banner.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
	position:relative;
}
.w3_banner_pos{
	position:absolute;
	top:5%;
	right:40%;
}
.header {
    background: rgba(0, 0, 0, 0.63);
}
.navbar {
    margin-bottom: 0;
    border: none;
}
.navbar-brand {
    height: 68px;
    padding:0;
    font-size: 1em;
    line-height: 35px;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
}
.navbar-brand span {
    padding: .46em .6em;
    background:#FF0000;
    display: inline-block;
}
.navbar-nav {
    float: right;
    margin: 0;
}
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar-right {
    float: none !important;
    margin-right: 0;
}
.agileinfo_social_icons {
    float: left;
    margin: 0.9em 0 0 5em;
}
.agileinfo_social_icons1 li{
	display:inline-block;
}
.agileinfo_social_icons1 li a{
	width:40px;
	height:40px;
	border:1px solid #fff;
}
.agileinfo_social_icons1 li a.facebook{
	background:url(../images/img-sp.png) no-repeat 5px 5px;
	display:block;
}
.agileinfo_social_icons1 li a.twitter{
	background:url(../images/img-sp.png) no-repeat -42px 4px;
	display:block;
}
.agileinfo_social_icons1 li a.google{
	background:url(../images/img-sp.png) no-repeat -93px 5px;
	display:block;
}
.agileinfo_social_icons1 li a.pinterest{
	background:url(../images/img-sp.png) no-repeat -141px 4px;
	display:block;
}
.agileinfo_social_icons1 li a.facebook:hover{
	background:url(../images/img-sp.png) no-repeat 5px 5px #3b5998;
	display:block;
}
.agileinfo_social_icons1 li a.twitter:hover{
	background:url(../images/img-sp.png) no-repeat -42px 4px #55acee;
	display:block;
}
.agileinfo_social_icons1 li a.google:hover{
	background:url(../images/img-sp.png) no-repeat -93px 5px #dd4b39;
	display:block;
}
.agileinfo_social_icons1 li a.pinterest:hover{
	background:url(../images/img-sp.png) no-repeat -141px 4px #bd081c;
	display:block;
}
.navbar-nav > li > a {
    padding: 24px 20px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.containertopstuff {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 90px;
}
.w3agile_banner_info{
	padding:18em 0 0;
}
.w3agile_banner_info h3{
	text-transform:uppercase;
	font-weight:bold;
	color:#fff;
	letter-spacing:2px;
	font-family: 'Open Sans', sans-serif;
	font-size: 5em;
  margin-left: 0;
}
.w3agile_banner_info a{
	color: oldlace;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 8px;
}
.scroll-down {
  width: 22.5px;
  height: 57.45px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50px;
  opacity: .8;
}
.scroll-down .dot {
  width: 9px;
  height: 9px;
  display: block;
  background: #FF0000;
  border-radius: 100%;
  box-shadow: 0 17px 0 rgba(224, 70, 129, 0), 0 34px 0 rgba(224, 70, 129, 0);
  -webkit-animation: dotAnimation 1.8s ease-in-out infinite;
  animation: dotAnimation 1.8s ease-in-out infinite;
}

@-webkit-keyframes dotAnimation {
  99% {
    background:#FF0000;
    box-shadow: 0 17px 0 rgba(224, 70, 129, 0), 0 34px 0 rgba(224, 70, 129, 0);
  }
  33% {
    background: rgba(224, 70, 129, 0);
    box-shadow: 0 17px 0 #FF0000, 0 34px 0 rgba(224, 70, 129, 0);
  }
  66% {
    background: rgba(224, 70, 129, 0);
    box-shadow: 0 17px 0 rgba(224, 70, 129, 0), 0 34px 0 #FF0000;
  }
}

@keyframes dotAnimation {
  99% {
    background:#FF0000;
    box-shadow: 0 17px 0 rgba(224, 70, 129, 0), 0 34px 0 rgba(224, 70, 129, 0);
  }
  33% {
    background: rgba(224, 70, 129, 0);
    box-shadow: 0 17px 0 #FF0000, 0 34px 0 rgba(224, 70, 129, 0);
  }
  66% {
    background: rgba(224, 70, 129, 0);
    box-shadow: 0 17px 0 rgba(224, 70, 129, 0), 0 34px 0 #FF0000;
  }
}
.w3_scroll {
    text-align: center;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #212121;
    background-color: #FFD900;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#FFD900;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #212121;
}
/*-- //banner --*/
/*-- banner-bottom --*/
.banner-bottom,.testimonials,.services,.portfolio,.typo,.mail{
	padding:5em 0;
}
.head{
	font-size: 10em;
    font-weight: bold;
    color: #E1E1E1;
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.head span{
	position: absolute;
    left: 30.5%;
    top: 56%;
    color: #212121;
    font-size: .2em;
    text-transform: capitalize;
    font-family: 'Capriola', sans-serif;
}
.head1 span{
    left: 38% !important;
}
.head2 span {
    left: 34% !important;
}
.head span i{
	font-style: normal;
    color: #FF0000;
}
.agileits_banner_bottom_grid_l h4{
	text-transform:capitalize;
	font-size:1.8em;
	color:#212121;
	line-height:1.5em;
}
.agileits_banner_bottom_grid_l p{
	margin:1em 0 0;
	line-height:2em;
	color:#999;
}
.agileits_banner_bottom_grid_l p i{
	display:block;
	margin-bottom:1em;
	color:#FFD900;
}
.agileits_banner_bottom_grids{
	margin:6em 0 0;
}
.agileits_banner_btm_grid_r{
	position:relative;
}
.agileits_banner_btm_grid_r_pos{
	position:absolute;
	top: -23%;
    right: -15%;
}
/*-- //banner-bottom --*/
/*-- banner-bottom1 --*/
.banner-bottom1{
	/*background:url(../images/texture.JPG) no-repeat 0px 0px;*/
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.agile_banner_bottom1_left{
	padding: 4em;
  background: rgba(0, 0, 0, 0.69);
}
.agile_banner_bottom1_right{
	padding: 4em;
    background: rgba(0, 0, 0, 0.69);
}
.banner-bottom1,.agile_banner_bottom1_right, .agile_banner_bottom1_left{
	min-height:500px;
}
.agile_banner_bottom1_right h4{
	text-transform:capitalize;
	font-size:1.8em;
	color:#FFD900;
}
.agile_banner_bottom1_right p{
	margin:1em 0 3em;
	line-height:2em;
	color:#fff;
}
.agile_banner_bottom1_right ul li{
	display:block;
	margin-bottom:1.5em;
	color:#fff;
	text-transform:uppercase;
}
.agile_banner_bottom1_right ul li span{
	color:#FFD900;
	padding-right:2em;
}
.agile_banner_bottom1_right ul li:last-child{
	margin-bottom:0;
}
.wthree_testimonials_grid{
	position: relative;
    margin: 6em auto 0;
    background:#EDEDED;
    padding:6em 5em 3em;
}
.wthree_testimonials_grid1,.wthree_testimonials_grid{
	width: 70%;
}
.wthree_testimonials_grid:after{
	content: '';
    width: 4%;
    height: 10px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #EDEDED;
    position: absolute;
    bottom: -7%;
    right: 10%;
}
.wthree_testimonials_grid h4{
	font-size:1.3em;
	color:#212121;
	line-height:1.5em;
}
.wthree_testimonials_grid p{
	color:#999;
	line-height:2em;
	margin:1em 0 0;
}
.wthree_testimonials_grid_pos{
	position: absolute;
    top: -30%;
    left: 43%;
}
.wthree_testimonials_grid1{
	text-align:right;
	margin: 0 auto;
}
.wthree_testimonials_grid1 h5{
	font-size: 1em;
    color: #FF0000;
    margin: 1.5em 0 1em;
}
.wthree_testimonials_grid1 p{
	color:#212121;
}
/*--flexisel--*/
.flex-slider{	
	background:#222227;
	padding: 70px 0 165px 0;
}
.opportunity{
	background:#28282e;
	margin:0px 20px;
	padding:80px 0;
	position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
    padding: 0;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:50px;
	height:50px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	top:46% !important;
}
.nbs-flexisel-nav-left {
	left: 13%;
    background:url(../images/img-sp.png) no-repeat -4px -123px;
}
.nbs-flexisel-nav-right {
	right: 13%;
	background:url(../images/img-sp.png) no-repeat -57px -123px;
}
/*--//flexisel--*/
.wthree_testimonials_grid_main {
    padding-bottom: 1em;
}
/*-- //banner-bottom1 --*/
/*-- newsletter --*/
.newsletter{
	padding:2em 0;
	background:#FF0000;
}
.w3ls_newsletter_left h3{
	position: relative;
    color: #CA0202;
    font-size: 4em;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
}
.w3ls_newsletter_left h3 span {
    position: absolute;
    left: 5%;
    top: 30%;
    color: #FFD900;
    font-size: .5em;
    text-transform: capitalize;
    font-family: 'Capriola', sans-serif;
}
.w3ls_newsletter_left p{
	color:#fff;
	line-height:1.8em;
}
.w3ls_newsletter_right input[type="email"] {
    outline: none;
    border: none;
    color: #fff;
    font-size: 14px;
    width: 89%;
    background: none;
    font-weight: bold;
}
.w3ls_newsletter_right input[type="submit"] {
    outline: none;
    border: none;
    width: 9%;
    background: url(../images/img-sp.png) no-repeat -115px -136px;
    padding: 0;
}
.w3ls_newsletter_right form {
    padding: 15px 15px 15px 25px;
    border: 1px solid #fff;
}
.w3ls_newsletter_right {
    margin: 1.3em 0 0;
}
/*-- //newsletter --*/
/*-- footer --*/
.footer{
	padding:4em 0;
	background:#212121;
}
.w3l_footer_grid h2 a{
	font-size:1.1em;
	color:#fff;
	text-decoration:none;
}
.w3l_footer_grid h2 a span{
	display: inline-block;
    padding: .3em .5em;
    background: #FFD900;
    color: #212121;
}
.w3l_footer_grid p{
	color:#fff;
	line-height:2em;
	margin: 2em 0 0;
}
.w3l_footer_grid h3{
	font-size:1.7em;
	color:#fff;
	margin-bottom:2em;
}
.w3l_footer_grid ul  li{
    list-style-type: none;
    margin-bottom: 1.5em;
    color: #999;
}
.w3l_footer_grid ul  li:last-child{
    margin-bottom: 0em;
}
ul.w3_address li i {
    color: #999;
    border: 1px solid #999;
    padding: .5em;
    margin-right: 1em;
}
ul.w3_address li span {
    display: block;
    margin-left: 3em;
}
ul.w3_address li a, .agileinfo_footer_grid_nav li a {
    color: #999;
    text-decoration: none;
}
ul.w3_address li a:hover, .agileinfo_footer_grid_nav li a:hover {
    color: #fff;
    text-decoration: none;
}
ul.agileinfo_footer_grid_nav li a span {
    color: #FFD900;
    padding-right: 1.5em;
}
.w3agile_footer_copy {
    margin:4em 0 0;
    padding: 1em 0;
    border-top: 4px double #404040;
    border-bottom: 4px double #404040;
    text-align: center;
}
.w3agile_footer_copy p {
    color: #999;
    line-height: 1.8em;
}
.w3agile_footer_copy p a {
    color:#FF0000;
    text-decoration: none;
}
.w3agile_footer_copy p a:hover {
    color: #999;
}
.agileinfo_social li{
	margin:0 !important;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- services --*/
.agileinfo_services_grid1{
	padding:2em;
	border:1px solid #999;
	text-align:center;
	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.agileinfo_services_grid1:after, .agileinfo_services_grid1:before {
    content: '';
    z-index: 2;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    -webkit-transition: all 800ms ease-in-out;
    -moz-transition: all 800ms ease-in-out;
    -ms-transition: all 800ms ease-in-out;
    -o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
}
.agileinfo_services_grid1:before {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #FF0000;
    border-right: 1px solid #FF0000;
}
.agileinfo_services_grid1:after {
    top: 0;
    left: 0;
    border-top: 1px solid #FF0000;
    border-left: 1px solid #FF0000;
}
.agileinfo_services_grid1:hover {
    cursor: default;
	border: 1px solid #fff;
}
.agileinfo_services_grid1:hover:after, .agileinfo_services_grid1:hover:before {
    width: 100%;
    height: 100%;
    visibility: visible;
}
.agileinfo_services_grid1 span{
	font-size:1.5em;
	color:#212121;
	top:0;
}
.agileinfo_services_grid1 h4{
	text-transform: capitalize;
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 1em 0;
    color:#FF0000;
}
.agileinfo_services_grid1:hover h4{
	color:#FFD900;
}
.agileinfo_services_grid1 p{
	color:#999;
	line-height:2em;
}
.agileinfo_services_grids {
    margin:1em 0 0;
}
.agileinfo_services_grid{
	margin:2em 0 0;
}
.services-bottom{
	background:url(../images/5.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:400px;
}
.w3agile_services_bottom_grid{
	text-align:right;
	padding:5.5em 0 2em;
}
.w3agile_services_bottom_grid h3{
	font-size: 1.4em;
    line-height: 1.5em;
    color:#FFD900;
    text-transform: capitalize;
}
.w3agile_services_bottom_grid p{
	color:#fff;
	line-height:2em;
	margin:2em 0;
}
.more a{
	padding:8px 50px;
	border:1px solid #fff;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-size:14px;
}
.more a:hover{
	color:#212121;
}
/*-- //services --*/
/*-- portfolio --*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #FF0000;
    cursor: default;
    background: none;
    border: none;
    border-bottom-color: transparent;
    border-bottom: 1px solid #FF0000;
}
.nav-tabs > li > a {
    margin-right: 3px;
    border-radius: 0;
    font-size:14px;
    color: #212121;
	border: none;
	text-transform:uppercase;
	border-bottom: 1px solid #fff;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
    border-bottom: none;
	margin: 3em 0;
}
.nav-tabs > li {
    margin: 0 10px;
}
.nav-tabs > li > a:hover {
    border: none;
	color:#FF0000;
    border-bottom: 1px solid;
	background: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    color:#FF0000;
}
.nav-tabs > li:first-child {
    margin-left: 20em;
}
.w3_tab_img_left h3 {
    font-size: 1.5em;
    color: #fff;
    margin: 0 0 .5em;
}
.w3_tab_img_left p{
	color:#fff;
	line-height:2em;
}
.w3_tab_img_left {
    margin: 2em 0 0;
}
/*-- //portfolio --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#212121;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*--//Typography --*/
/*-- mail --*/
.agileits_mail_grids{
	margin:3em 0;
}
.agileits_mail_grid_left h4{
	text-transform:capitalize;
	font-size:1.3em;
	color:#212121;
	margin-bottom: 1.5em;
}
.agileits_mail_grid_lft_grid ul li{
	list-style-type:none;
	color:#212121;
	margin-bottom:1.5em;
}
.agileits_mail_grid_lft_grid ul li span{
	padding-right:1em;
	color:#FF0000;
}
.agileits_mail_grid_lft_grid1{
	margin:3em 0 0;
}
.agileits_mail_grid_lft_grid1 h4 span{
	color:#FF0000;
}
.agileits_mail_grid_lft_grid1 ul li{
	list-style-type: none;
    background: url(../images/img-sp.png) no-repeat -9px -211px;
    padding-left: 4em;
    color: #999;
    line-height: 1.8em;
	margin-bottom:1.5em;
}
.agileits_mail_grid_lft_grid1 ul li a{
	color:#212121;
	text-decoration:none;
	font-weight: 600;
}
.agileits_mail_grid_lft_grid1 ul li a:hover{
	color:#999;
}
.agileits_mail_grid_right1{
	padding:3em;
	background:#f5f5f5;
}
.agileits_mail_grid_right1 span i{
	color: #212121;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    float: left;
    width: 15%;
    margin: .8em 0 0;
}
.agileits_mail_grid_right1 input[type="text"],.agileits_mail_grid_right1 input[type="email"],.agileits_mail_grid_right1 textarea{
	outline: none;
    width: 85%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #E7E7E7;
}
::-webkit-input-placeholder{
	color:#212121 !important;
}
.agileits_mail_grid_right1 span {
    padding: .5em 0;
    display: block;
}
.agileits_mail_grid_right1 textarea{
	min-height:200px;
}
.agileits_mail_grid_right1 input[type="submit"]{
	outline: none;
    width: 35%;
    background: #FFD900;
    color: #212121;
    padding: 10px 0;
    font-size: 1em;
    border:none;
	margin:.5em 0 0 5.1em;
}
.agileits_mail_grid_right1 input[type="submit"]:hover{
    background:#FF0000;
    color: #fff;
}
.agileits_mail_grids1 h4{
	font-size:1.5em;
	color:#212121;
	margin-bottom:2em;
}
.agileits_mail_grids1_map iframe{
	border: 3px solid #A9A9A9;
    width: 100%;
    min-height: 175px;
    margin-bottom: -6px;
}
/*-- //mail --*/
/*-----start-responsive-design------*/
@media (max-width:1440px){
	.w3_banner_pos {
		right: 12%;
	}
}
@media (max-width:1366px){
	.banner {
		min-height: 700px;
	}
	.nav-tabs > li:first-child {
		margin-left: 21em;
	}
}
@media (max-width:1280px){
	.w3agile_banner_info {
		padding: 16em 0 0;
	}
	.agileits_banner_btm_grid_r_pos {
		right: -10%;
	}
	.agile_banner_bottom1_right {
		width: 60%;
		float: right;
	}
}
@media (max-width:1080px){
	.navbar-nav > li > a {
		padding: 24px 17px;
	}
	.agileinfo_social_icons {
		margin: 0.9em 0 0 3em;
	}
	.w3agile_banner_info h3 {
		font-size: 4em;
	}
	.w3agile_banner_info a {
		letter-spacing: 6px;
	}
	.banner {
		background-position:-100px 0px;
	}
	.head {
		font-size: 8em;
	}
	.head span {
		left: 21%;
		font-size: .25em;
	}
	.agileits_banner_bottom_grid_l {
		padding: 0;
	}
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.5em;
	}
	.agile_banner_bottom1_right {
		padding: 3em;
	}
	.banner-bottom1, .agile_banner_bottom1_right {
		min-height: 460px;
	}
	.wthree_testimonials_grid1, .wthree_testimonials_grid {
		width: 80%;
	}
	.nbs-flexisel-nav-left {
		left: 7%;
	}
	.nbs-flexisel-nav-right {
		right:7%;
	}
	.banner-bottom, .testimonials, .services, .portfolio, .typo, .mail {
		padding: 4em 0;
	}
	.w3ls_newsletter_right {
		padding: 0;
	}
	.w3l_footer_grid {
		padding-left: 0;
	}
	.w3l_footer_grid h3 {
		font-size: 1.5em;
	}
	.banner1 {
		min-height: 250px;
	}
	.agileinfo_services_grid1 h4 {
		font-size: 1.2em;
	}
	.services-bottom {
		min-height: 355px;
	}
	.w3agile_services_bottom_grid {
		padding: 3.5em 0 2em;
	}
	.nav-tabs > li:first-child {
		margin-left: 15em;
	}
	.nav-tabs {
		margin: 3em 0 1em;
	}
	.head2 span {
		left: 31% !important;
	}
	.head1 span {
		left: 34% !important;
	}
	.agileits_mail_grid_right1 {
		padding: 2em;
	}
	.agileits_mail_grid_left h4 {
		line-height: 1.6em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 4.3em;
	}
}
@media (max-width: 1024px){
	.w3_banner_pos {
		right: 7%;
	}
	.services-bottom {
		background-position:-85px 0px;
	}
}
@media (max-width: 991px){
	.navbar-brand {
		font-size: .9em;
		height: 65px;
	}
	.navbar-nav > li > a {
		padding:22.5px 7px;
		font-size: 13px;
	}
	.agileinfo_social_icons {
		margin: 0.9em 0 0 1em;
	}
	.banner {
		min-height: 605px;
	}
	.w3agile_banner_info {
		padding: 13em 0 0;
	}
	.w3_banner_pos img {
		width: 80%;
	}
	.head span {
		left: 13%;
	}
	.agileits_banner_bottom_grids {
		margin: 3em 0 0;
	}
	.agileits_banner_btm_grid_r_pos {
		right: -13%;
		top: -14%;
	}
	.agileits_banner_bottom_grid_l {
		padding-bottom: 5em;
	}
	.agile_banner_bottom1_right {
		width: 65%;
	}
	.wthree_testimonials_grid1, .wthree_testimonials_grid {
		width: 90%;
	}
	.nbs-flexisel-nav-left {
		left: 2%;
	}
	.nbs-flexisel-nav-right {
		right: 2%;
	}
	.w3ls_newsletter_right {
		margin: 2em auto 0;
		width: 70%;
	}
	.footer {
		padding: 3em 0;
	}
	.w3l_footer_grid {
		padding-left: 1em;
		float: left;
		width: 50%;
	}
	.w3l_footer_grid:nth-child(2) {
		margin-bottom: 3em;
	}
	.w3agile_footer_copy {
		margin: 3em 0 0;
	}
	.agileinfo_services_grid {
		float: left;
		width: 50%;
	}
	.w3agile_services_bottom_grid:first-child {
		display: none;
	}
	.w3agile_services_bottom_grid:nth-child(2) {
		width: 70%;
		float: right;
	}
	.nav-tabs > li:first-child {
		margin-left: 7em;
	}
	.head2 span {
		left: 26% !important;
	}
	.nav-tabs {
		margin: 2em 0 1em;
	}
	.w3_tab_img_left {
		float: left;
		width: 50%;
	}
	.banner-bottom, .testimonials, .services, .portfolio, .typo, .mail {
		padding: 3em 0 4em;
	}
	.w3ls_newsletter_right {
		width: 80%;
	}
	.head1 span {
		left: 29% !important;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 5.9em;
	}
	.agileits_mail_grids1_map:nth-child(3) {
		margin: 2em 0;
	}
	.agileits_mail_grids {
		margin: 2em 0 3em;
	}
}
@media (max-width: 800px){
	.w3agile_banner_info h3 {
		font-size: 3.5em;
	}
	.banner {
		min-height: 570px;
		background-position: -155px 0px;
	}
	.w3_banner_pos img {
		margin: 0 auto;
	}
	.w3_banner_pos {
		right: 2%;
	}
	.agileits_banner_btm_grid_r_pos {
		right: -1%;
	}	
	.agile_banner_bottom1_right {
		width: 80%;
		padding: 2em;
	}
	.agile_banner_bottom1_right h4 {
		font-size: 1.6em;
	}
	.agile_banner_bottom1_right p {
		margin: 1em 0 2em;
	}
	.banner-bottom1, .agile_banner_bottom1_right {
		min-height: 415px;
	}
	.services-bottom {
		background-position: -155px 0px;
	}
	.w3agile_banner_info a {
		letter-spacing: 5px;
		font-size: 13px;
	}
}
@media (max-width: 768px){
	.head {
		font-size: 7em;
	}
	.head span {
		left: 17%;
	}
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.4em;
	}
	.head1 span {
		left: 34% !important;
	}
	.banner-bottom, .testimonials, .services, .portfolio, .typo, .mail {
		padding: 3em 0;
	}
	.banner1 {
		min-height: 215px;
	}
	.w3agile_services_bottom_grid {
		padding: 3em 0 2em;
	}
	.services-bottom {
		min-height: 315px;
	}
	.w3agile_services_bottom_grid:nth-child(2) {
		width: 80%;
	}
}	
@media (max-width: 767px){
	.navbar-toggle {
		margin: 1.1em 0 0;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
	}
	.agileinfo_social_icons {
		margin: 1em 0 0;
		float: none;
		text-align: center;
	}
	.navbar-nav {
		float: none;
		text-align: center;
	}
	.navbar-nav > li > a {
		padding: 12px 0;
		font-size: 14px;
	}
	 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		position: absolute;
		width: 100%;
		background: rgba(0, 0, 0, 0.81);
		z-index: 999;
	}
}
@media (max-width: 736px){
	.w3agile_banner_info {
		padding: 8em 0 0;
	}
	.banner {
		min-height: 455px;
	}
	.w3_banner_pos img {
		width: 100%;
	}
	.w3_banner_pos {
		right: 7%;
		width: 23%;
	}
}
@media (max-width: 667px){
	.w3_banner_pos {
		right: 1%;
		width: 26%;
	}
	.wthree_testimonials_grid {
		padding: 5em 4em 3em;
	}
	.nav-tabs > li:first-child {
		margin-left: 5em;
	}
}
@media (max-width: 640px){
	.head {
		font-size: 6em;
	}
	.w3agile_banner_info h3 {
		font-size: 3em;
	}
	.w3agile_banner_info a {
		letter-spacing: 3px;
	}
	.w3_banner_pos {
		right: 3%;
		width: 27%;
	}
	.banner-bottom, .testimonials, .services, .portfolio, .typo, .mail {
		padding: 2em 0 3em;
	}
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.3em;
	}
	.agileits_banner_bottom_grids {
		margin: 2em 0 0;
	}
	.agile_banner_bottom1_right {
		width: 90%;
	}
	.agile_banner_bottom1_right h4 {
		font-size: 1.4em;
	}
	.wthree_testimonials_grid1, .wthree_testimonials_grid {
		width: 100%;
	}
	.nbs-flexisel-nav-left {
		left: -1%;
	}
	.nbs-flexisel-nav-right {
		right: -1%;
	}
	.w3ls_newsletter_left h3 {
		font-size: 3.5em;
	}
	.agileinfo_services_grid1 {
		padding: 2em 1.5em;
	}
	.agileinfo_services_grid1 h4 {
		font-size: 1em;
	}
	.w3agile_services_bottom_grid h3 {
		font-size: 1.2em;
	}
	.w3agile_services_bottom_grid {
		padding: 2em 0;
	}
	.services-bottom {
		min-height: 295px;
		background-position: -120px 0px;
	}
	.nav-tabs > li:first-child {
		margin-left: 3em;
	}
	.head2 span {
		left: 28% !important;
	}
	.head span {
		font-size: .28em;
		left: 13%;
	}
	.head1 span {
		left: 31% !important;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0 4.7em;
	}
}
@media (max-width: 600px){
	.head span {
		left: 11%;
	}
	.head1 span {
		left: 30% !important;
	}
	.wthree_testimonials_grid_pos {
		left: 41%;
	}
	.wthree_testimonials_grid:after {
		bottom: -5%;
	}
	.w3ls_newsletter_right {
		width: 90%;
	}
	.nav-tabs > li:first-child {
		margin-left: 2em;
	}
}
@media (max-width: 568px){
	.banner {
		min-height: 400px;
	}
	.agile_banner_bottom1_right ul li {
		font-size: 13px;
	}
	.nav-tabs > li {
		margin: 0 5px;
	}
}
@media (max-width: 480px){
	.nav-tabs > li {
		margin: 0 10px;
	}
	.w3agile_banner_info h3 {
		font-size: 2.8em;
	}
	.w3_banner_pos {
		right: 0%;
	}
	.scroll-down {
		bottom: -5%;
	}
	.w3agile_banner_info {
		padding: 7em 0 0;
	}
	.w3agile_banner_info a {
		letter-spacing: 2px;
	}
	.head {
		font-size: 5em;
	}
	.head span {
		left: 8%;
		top: 42%;
	}
	.head1 span {
		left: 27% !important;
	}
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1.2em;
	}
	.agileits_banner_bottom_grid_l {
		padding-bottom: 4em;
	}
	.agileits_banner_btm_grid_r_pos {
		right:-3%;
	}
	.agile_banner_bottom1_right h4 {
		font-size: 1.3em;
	}
	.agile_banner_bottom1_right {
		width: 95%;
		padding: 1.5em;
	}
	.banner-bottom1, .agile_banner_bottom1_right {
		min-height: 395px;
	}
	.wthree_testimonials_grid {
		padding: 4em 4em 2em;
	}
	.w3ls_newsletter_left h3 {
		font-size: 3em;
	}
	.banner-bottom, .testimonials, .services, .portfolio, .typo, .mail,.footer {
		padding: 2em 0;
	}
	.w3ls_newsletter_right {
		width: 95%;
	}
	.w3l_footer_grid {
		float: none;
		width: 100%;
	}
	.w3l_footer_grid h2 a {
		font-size: 1em;
	}
	.w3l_footer_grid h3 {
		margin-bottom: 1em;
		font-size: 1.3em;
	}
	.w3l_footer_grid:nth-child(2) {
		margin: 2em 0;
	}
	.w3l_footer_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.w3agile_footer_copy {
		margin: 2em 0 0;
	}
	.agileinfo_services_grids {
		margin: 0;
	}
	.agileinfo_services_grid {
		float: none;
		width: 80%;
		margin: 2em auto 0;
	}
	.agileinfo_services_grid1 h4 {
		font-size: 1.1em;
	}
	.banner1 {
		min-height: 150px;
	}
	.w3agile_services_bottom_grid:nth-child(2) {
		width: 100%;
		float: none;
	}
	.services-bottom {
		background-position: -345px 0px;
	}
	.nav-tabs > li > a {
		margin-right: 0;
		font-size: 13px;
		padding: 10px 5px;
	}
	.nav-tabs > li:first-child {
		margin-left: 2em;
	}
	.nav-tabs {
		margin:1em 0 2em;
	}
	.w3_tab_img_left {
		float: none;
		width: 100%;
		margin:1em 0 0;
	}
	.agileits_mail_grid_left h4 {
		font-size: 1.2em;
	}
	.head2 span {
		left: 20% !important;
	}
	.agileits_mail_grid_right1 {
		padding: 1.5em;
	}
	.agileits_mail_grid_right1 span i {
		font-size: 13px;
		float: none;
		width: 20%;
	}
	.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		width: 100%;
		margin: .5em 0 0;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		margin: .5em 0 0;
		font-size: 14px;
		width: 50%;
	}
	.agileits_mail_grids1 h4 {
		font-size: 1.3em;
		margin-bottom: 1.5em;
	}
}
@media (max-width: 414px){
	.w3agile_banner_info {
		padding:5.5em 0 0 2em;
		text-align: left;
	}
	.navbar-brand {
		font-size: .8em;
		height: 61px;
	}
	.navbar-toggle {
		margin: .9em 0 0;
	}
	.w3agile_banner_info h3 {
		font-size: 2.5em;
	}
	.w3_banner_pos {
		width: 32%;
	}
	.banner {
		min-height: 355px;
	}
	.w3agile_banner_info a {
		letter-spacing: 1.5px;
		font-size: 12px;
	}
	.scroll-down .dot {
		width: 7px;
		height: 7px;
	}
	.head span {
		left: 0%;
		top: 20%;
		line-height: 1.5em;
	}
	.agileits_banner_btm_grid_r_pos {
		top: -24%;
	}
	.agile_banner_bottom1_right {
		width: 100%;
	}
	.agile_banner_bottom1_right h4 {
		font-size: 1.2em;
	}
	.head1 span {
		left: 21% !important;
		top: 33% !important;
	}
	.wthree_testimonials_grid_pos {
		left: 39%;
		top: -23%;
		width: 25%;
	}
	.wthree_testimonials_grid {
		padding: 3em 3.5em 2em;
	}
	.w3ls_newsletter_left {
		padding: 0;
	}
	.w3ls_newsletter_left h3 {
		font-size: 2.8em;
	}
	.agileinfo_services_grid {
		width: 90%;
	}
	.head_services span {
		top: 35% !important;
		left: 5% !important;
	}
	.w3agile_services_bottom_grid h3 {
		font-size: 1.1em;
	}
	.services-bottom {
		background-position: -386px 0px;
	}
	.nav-tabs > li {
		margin: 0 7px;
	}
	.nav-tabs > li:first-child {
		margin-left: 0.3em;
	}
	.head2 span {
		left: 17% !important;
		top: 36% !important;
	}
	.agileits_mail_grid_left,.agileits_mail_grid_right {
		padding: 0;
	}
	.agileits_mail_grid_left h4 {
		font-size: 1.15em;
	}
}
@media (max-width: 384px){
	.agileits_banner_bottom_grid_l {
		padding-bottom: 7em;
	}
	.agileits_banner_btm_grid_r_pos {
		top: -45%;
	}
	.agile_banner_bottom1_right h4 {
		line-height: 1.5em;
	}
	.wthree_testimonials_grid_pos {
		top: -18%;
	}
	.w3ls_newsletter_left h3 {
		font-size: 2.5em;
	}
	.w3ls_newsletter_right {
		width: 100%;
	}
	.w3ls_newsletter_right input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat -119px -136px;
	}
	.agileinfo_services_grid {
		width: 100%;
	}
	.w3agile_services_bottom_grid h3 {
		font-size: 1em;
	}
	.w3agile_services_bottom_grid p {
		margin: 1em 0 2em;
	}
	.services-bottom {
		background-position: -413px 0px;
	}
	.nav-tabs > li {
		margin: 0 3px;
	}
	.head2 span {
		left: 14% !important;
		top: 40% !important;
	}
	.agileits_mail_grid_lft_grid1 ul li {
		padding-left: 3em;
	}
}
@media (max-width: 375px){
	.w3agile_banner_info h3 {
		font-size: 2.4em;
	}
	.w3agile_banner_info a {
		letter-spacing: 1.3px;
	}
	.nbs-flexisel-nav-left {
		left: -5%;
		background: url(../images/img-sp.png) no-repeat 5px -73px;
		background-size: 630%;
	}
	.nbs-flexisel-nav-right {
		right: -4%;
		background: url(../images/img-sp.png) no-repeat -34px -73px;
		background-size: 630%;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		width:40px;
		height: 40px;
	}
	.nav-tabs > li {
		margin: 0;
		float: none;
		text-align: center;
	}
}
@media (max-width: 320px){
	.navbar-brand span {
		padding: .35em .6em;
	}
	.navbar-brand {
		font-size: .75em;
		height: 54px;
	}
	.navbar-toggle {
		margin: .6em 0 0;
	}
	.w3agile_banner_info {
		padding:5em 0 0 1em;
	}
	.w3agile_banner_info h3 {
		font-size: 2em;
	}
	.w3agile_banner_info a {
		font-size: 10px;
	}
	.banner {
		min-height: 300px;
	}
	.scroll-down {
		bottom: -9%;
		padding-bottom: 0;
	}
	.navbar-nav > li > a {
		padding: 7px 0;
		font-size: 13px;
	}
	.head {
		font-size: 4.5em;
	}
	.head span {
		top: 44%;
	}
	.agileits_banner_bottom_grid_l h4 {
		font-size: 1em;
	}
	p, ul li,.w3ls_newsletter_right input[type="email"],.agileits_mail_grid_right1 input[type="text"], .agileits_mail_grid_right1 input[type="email"], .agileits_mail_grid_right1 textarea {
		font-size: 13px;
	}
	.agileits_banner_btm_grid_r_pos {
		top: -60%;
	}
	.agile_banner_bottom1_right h4 {
		font-size: 1.1em;
	}
	.agile_banner_bottom1_right ul li span {
		padding-right: 1em;
	}
	.agile_banner_bottom1_right {
		padding: 1.5em 1em;
	}
	.wthree_testimonials_grid h4 {
		font-size: 1.1em;
	}
	.wthree_testimonials_grid {
		padding: 3em 2.5em 2em;
	}
	.w3ls_newsletter_left h3 {
		font-size: 2em;
	}
	.w3ls_newsletter_right form {
		padding: 10px 10px 10px 25px;
	}
	.w3ls_newsletter_right input[type="submit"] {
		width: 11%;
	}
	.w3ls_newsletter_right input[type="email"] {
		width: 87%;
	}
	.w3l_footer_grid {
		padding: 0;
	}
	.w3l_footer_grid h2 a {
		font-size: .9em;
	}
	.agileinfo_services_grid1 {
		padding: 1.5em 1em;
	}
	.agileinfo_services_grid1 h4 {
		font-size: 1em;
	}
	.services-bottom {
		background-position: -510px 0px;
	}
	.w3_tab_img_left h3 {
		font-size: 1.3em;
	}
	.agileits_banner_bottom_grids {
		margin: 3em 0 0;
	}
	.head2 span {
		left: 11% !important;
		top: 37% !important;
	}
	.agileits_mail_grid_lft_grid1 {
		margin: 2em 0 0;
	}
	.agileits_mail_grid_right1 {
		padding: 1em;
	}
	.agileits_mail_grid_right1 {
		padding: 1em;
	}
	.agileits_mail_grid_right1 input[type="submit"] {
		width: 100%;
	}
	.agileits_mail_grids1 h4 {
		font-size: 1.2em;
	}
}